doctype html 
html
    head
      title= title
      link(type='text/css' rel='stylesheet', href='styles.css')
    body
      h1 Blutdruck Aufzeichnung 
      h2 Von #{firstDate} bis #{lastDate}
      block table
